@model Employee_API.Models.MasterEmployee
@{
    ViewData["Title"] = "Employee";
}

<div class="container-fluid">
    <div class="fade-in">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-success">
                        <strong>Create/Edit Employee</strong><div class="card-header-actions"><a class="btn btn-sm btn-outline-success " asp-action="Index"> <i class="icon icon-backward"></i>Back to List</a></div>
                    </div>
                    <div class="card-body">
                        <form id="formRegistration">
                            <div class="text-danger"></div>
                            <input type="hidden" asp-for="PkempId" id="PkempId" class="form-control" />
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="EmployeeName">Name</label>
                                    <input asp-for="EmployeeName" class="form-control" id="EmployeeName" name="EmployeeName">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="EmployeeDesigination">Designation</label>
                                    <input asp-for="EmployeeDesigination" class="form-control" id="EmployeeDesignation" name="EmployeeDesignation">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="EmployeeDob">DOB</label>
                                    <input type="date" asp-for="EmployeeDob" class="form-control" id="EmployeeDob" name="EmployeeDob">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="EmployeePhonenumber">Phone</label>
                                    <input asp-for="EmployeePhonenumber" class="form-control" id="EmployeePhonenumber" name="EmployeePhonenumber">
                                </div>
                            </div>
                            <div class="form-group">
                                @if (ViewBag.Mode == "C")
                                {
                                    <input type="button" id="btnSave" name="save" value=Save class="btn btn-success" />
                                }
                                else
                                {
                                    <input type="button" id="btnUpdate" name="update" value=Update class=" btn btn-success" />
                                    <input type="button" id="btnDelete" name="delete" value=Delete class="btn btn-danger" />
                                }
                            </div>
                        </form>
                    </div>
                    @if (ViewBag.Mode == "E")
                    {
                        <div class="card-footer">
                            <div class="form-group row mb-0">
                                <label for="Creation" class="col-sm-4 col-lg-2 col-form-label mb-1">["Creation"]</label>
                                <div class="col-sm-8 col-lg-4 mb-0">
                                    <input type="text" readonly class="form-control-plaintext" name="Creation" id="Creation" value="@ViewBag.Creation" />
                                </div>
                                <label for="Modification" class="col-sm-4 col-lg-2 col-form-label mb-1">["Modification"]</label>
                                <div class="col-sm-8 col-lg-4 mb-0">
                                    <input type="text" readonly class="form-control-plaintext" name="Modification" id="Modification" value="@ViewBag.Modification" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });

        $("#btnSave").click(function () {
            var isSaved;
            var arespose;
            alert("Are you sure?");
            if ($("#EmployeeName").val() == "" || $("#EmployeeDesignation").val() == "" || $("#EmployeeDob").val() == "" || $("#EmployeePhonenumber").val() == "") {
                alert("Please fill all the fields")
            }
            else {
                data = {
                    EmployeeName: $("#EmployeeName").val(),
                    EmployeeDesigination: $("#EmployeeDesignation").val(),
                    EmployeeDob: $("#EmployeeDob").val(),
                    EmployeePhonenumber: $("#EmployeePhonenumber").val()
                }
                $.ajaxSetup({ async: false });
                $.ajax({
                    url: '@Url.Action("Save", "Employee")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    async: false,
                    success: function (response) {
                        if (response.status == "success") {
                            arespose = respose;
                            isSaved = true;
                        }
                        else if (response.status == "error") {
                            arespose = respose;
                            isSaved = false;
                            alert("Contact number Exist");
                        } else {
                            arespose = respose;
                            isSaved = false;
                        }
                    }
                });
                $.ajaxSetup({ async: true });
                if (isSaved == true) {
                    alert("Saved successfully");
                    window.location.href = "../Index";
                } else {
                    alert("Contact number Exist");
                    window.location.href = "../Index";
                }
            }
        });
        $("#btnUpdate").click(function () {
            var isSaved;
            var arespose;
             alert("Are you sure?");
             if ($("#EmployeeName").val() == "" || $("#EmployeeDesignation").val() == "" || $("#EmployeeDob").val() == "" || $("#EmployeePhonenumber").val() == "") {
                 alert("Please fill all the fields")
             }
             else {
                 data = {
                     PkempId: $("#PkempId").val(),
                     EmployeeName: $("#EmployeeName").val(),
                     EmployeeDesigination: $("#EmployeeDesignation").val(),
                     EmployeeDob: $("#EmployeeDob").val(),
                     EmployeePhonenumber: $("#EmployeePhonenumber").val()
                 }
                 $.ajaxSetup({ async: false });
                 $.ajax({
                     url: '@Url.Action("Update", "Employee")',
                     type: 'POST',
                     data: JSON.stringify(data),
                     dataType: "json",
                     contentType: "application/json",
                     async: false,
                     success: function (response) {
                         if (response.status == "success") {
                             arespose = respose;
                             isSaved = true;
                         }
                         else if (response.status == "error") {
                             arespose = respose;
                             isSaved = false;
                         } else {
                             arespose = respose;
                             isSaved = false;
                         }
                     }
                 });
                 $.ajaxSetup({ async: true });
                 if (isSaved == true) {
                     alert("Updated successfully");
                     window.location.href = "../Index";
                 } else {
                     alert("Contact number Exist");
                     window.location.href = "../Index";
                 }
             }
         });
        $("#btnDelete").click(function () {
            alert("Are you sure?");
             data = {
                PkempId: $("#PkempId").val(),
             }
            $.ajax({
               url: '@Url.Action("Delete", "Employee")',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                async: false,
                success: function (response) {
                    if (response.status == "success") {
                        alert("Data Deleted Successfully");
                        window.location.href = "../Index";
                    }
                    else if (response.status == "error") {
                        alert("An error occured!");
                        window.location.href = "../Index";
                    }
                }
            });
        });
    </script>
}
